<h1>Depoimentos</h1>
<hr>

<section id="testimonies">
    <div class="card text-dark mb-3">
        <h5 class="card-header">
            Luís Felipe Cruz <small>07/02/2024</small>
        </h5>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor lacus, cursus sit amet orci id, commodo tincidunt eros. Curabitur vehicula auctor est, id ultricies magna. Phasellus quis elit eget orci placerat aliquet. Aliquam nec urna mollis, maximus eros ac, sagittis tellus. Duis rutrum elit metus, tempor vestibulum ante convallis vitae. Donec quam est, iaculis ac ligula quis, varius pellentesque neque. Aenean a dolor odio. Suspendisse in enim est. 
        </div>
    </div>
    <div class="card text-dark mb-3">
        <h5 class="card-header">
            Luís Felipe Cruz <small>07/02/2024</small>
        </h5>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor lacus, cursus sit amet orci id, commodo tincidunt eros. Curabitur vehicula auctor est, id ultricies magna. Phasellus quis elit eget orci placerat aliquet. Aliquam nec urna mollis, maximus eros ac, sagittis tellus. Duis rutrum elit metus, tempor vestibulum ante convallis vitae. Donec quam est, iaculis ac ligula quis, varius pellentesque neque. Aenean a dolor odio. Suspendisse in enim est. 
        </div>
    </div>
    <div class="card text-dark mb-3">
        <h5 class="card-header">
            Luís Felipe Cruz <small>07/02/2024</small>
        </h5>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor lacus, cursus sit amet orci id, commodo tincidunt eros. Curabitur vehicula auctor est, id ultricies magna. Phasellus quis elit eget orci placerat aliquet. Aliquam nec urna mollis, maximus eros ac, sagittis tellus. Duis rutrum elit metus, tempor vestibulum ante convallis vitae. Donec quam est, iaculis ac ligula quis, varius pellentesque neque. Aenean a dolor odio. Suspendisse in enim est. 
        </div>
    </div>
</section>

<hr>

<section id="form">
    <h3>Envie seu depoimento</h3>
    <form method="post">
        <div class="form-group">
            <label>nome</label>
            <input type="text" class="form-control" name="nome" required>
        </div>
        <div class="form-group">
            <label>Mensagem</label>
            <textarea type="text" class="form-control" rows="5" name="mensagem" required></textarea>
        </div>

        <div class="form-group mt-3">
            <button class="btn btn-success">Enviar</button>
        </div>
    </form>
</section>